@charset "utf-8";
/* CSS Document */

h1, h2, h3 {
	text-align: center;
}

h2 {
	background-color: black;
	color: white;
	font-size: 0.9em;
	margin-bottom: 0px;
}

h3 {
	
	color: black;
	font-size: 0.9em;
	margin-bottom: 0px;
}
.sujet{
	background-color: black;
	}
.paragraphe {
	width: 70%;
	margin: auto;
}

.paragraphe p{
	text-align: center;
}

.form {
	width: 70%;
	margin: auto;
}

.form p{
	text-align: center;
}

.news p {
	
	margin-top: 0px;
}
.news {
	width: 70%;
	margin: auto;
}

.commentaires p {
	background-color: #666;
	margin-top: 0px;
}
.commentaires {
	width: 50%;
	margin: auto;
}


.date {
	background-color: black;
	color: white;
	font-size: 0.7em;
	margin-bottom: 0px;
}


a {
	text-decoration: none;
	color: blue;
}
